.bookingTable {
  width: 100%;
  color: rgb(46, 46, 46);
}
.bookingTable__header {
  background-color: rgb(192, 192, 192);
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
}
.bookingTable__header > th {
  padding: 12px 8px;
  border: none;
}

.bookingTable__body {
  background-color: rgb(223, 223, 223);
  border: none;
}
.bookingTable__body:nth-child(even) {
  background-color: #d3d3d3;
  border: none;
}
.bookingTable__body > td {
  padding: 10px 5px;
  text-align: center;
  border: none;
}
.trash {
  cursor: pointer;
}
.tableDays {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.buttonDays {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
}
.bookingTableContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bookingResults {
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(224, 224, 224);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  background-color: #636363;
}
.trashAll {
  cursor: pointer;
  color: rgb(228, 14, 14);
}
